<!DOCTYPE html>
<html lang="en">
<head>

    <title>Yummy Recipes Homepage</title>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/style.css" type="text/css" />
	
</head>
<body>

		<div id="logo">
			<h1>Yummy Recipes</a></h1>
		</div>
		<div id="nav">
			<ul>
				<li><a href="{{url_for('main')}}">Home</a></li>
				<li><a href="{{url_for('signup')}}">Signup</a></li>
				<li><a href="{{url_for('login')}}">Login</a></li>
			</ul>	
		</div>
		<div id="main">
			<h2>Home</h2>
			<p>
				Welcome to the yummy recipes site. Get ready to find out exciting ways to store your recipes or check others as well.
			</p>
		</div>
		<div id="footer">
			<p>
				@yummyrecipes. Hope you enjoyed.
			</p>
		</div>
	</div>
</body>
</html>