{%extends "base.html" %} {%block title%} Account{%endblock title%} {%block navbar %}
<header>
    <div class="container">
        <div class="topnav" id="myTopnav">

            <ul class="on-right">
                <li>
                    <a href="{{url_for('account')}}">Home</a>
                </li>
                <li>
                    <a href="{{url_for('main')}}">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</header>
{%endblock navbar%} {% block main %}
<center>
    <div class='bk'>
        <div class="wrapper">
            <h2 class="form-signin-heading">Create Recipe Category</h2>
            <p> Welcome to your Yummy Recipes Account</p>

            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="row">
                <div class="col-md-12">
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        <strong>Success!</strong> {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %} {% endwith %} {% for category in category_data.values() %}
            <div class="row">
                <div class="col-md-3">
                    <h1>{{category.name}}</h1>
                    <p>{{category.description}}</p>
                </div>
                <div class="col-md-3">
                    <h1>
                        <a href="{{ url_for('deletecategory', category_name=category.name)}}">
                            <button class="btn btn-lg btn-primary">Delete</button>
                        </a>
                    </h1>
                </div>
                <div class="col-md-3">
                    <h1>
                        <a href="{{ url_for('editcategory', category_name=category.name)}}">
                            <button class="btn btn-lg btn-primary">Edit</button>
                        </a>
                    </h1>
                </div>
                <div class="col-md-3">
                    <h1>
                        <a href="{{ url_for('recipelist', category_name=category_name)}}">
                            <button class="btn btn-lg btn-primary">Add recipe item</button>
                        </a>
                    </h1>
                </div>
            </div>
            {% endfor %}


            <a href="{{ url_for('addcategory') }}">
                <button class="btn btn-lg btn-primary">
                    Add Recipe Category
                </button>
            </a>


        </div>
    </div>
</center>
<!-- </form> -->

{% endblock %}