{%extends "base.html" %}{%block title%} Account{%endblock title%} {%block navbar %}
<header>
    <div class="container">
        <div class="topnav" id="myTopnav">

            <ul class="on-right">
                <li>
                    <a href="{{url_for('main')}}">Home</a>
                </li>
                <li>
                    <a href="{{url_for('main')}}">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</header>
{%endblock navbar%} {% block main %}
<center>
    <div class='bk'>
        <div class="wrapper">
            <!-- <form class="form-signin"> -->
            <h2 class="form-signin-heading">Create Recipe Category</h2>
            <p> Welcome to your Yummy Recipes Account</p>


            {% for category_data in category_data %}
            <div class="row">
                <div class="col-md-3">
                    <h1>{{category_data.name}}</h1>
                    <p>{{category_data.description}}</p>
                </div>
                <div class="col-md-3">
                    <button>Delete</button>
                </div>
                <div class="col-md-3">
                    <button>Edit</button>
                </div>
                <div class="col-md-3">
                    <button>View</button>
                </div>
            </div>
            {% endfor %}


            <a href="{{ url_for('addcategory') }}">
                <button class="btn btn-lg btn-primary">
                    Add Recipe Category
                </button>
            </a>


        </div>
    </div>
</center>
<!-- </form> -->

{% endblock %}