{%extends "base.html" %}{%block title%} Add Recipe item{%endblock title%} {%block navbar %}
<header>
    <div class="container">
        <div class="topnav" id="myTopnav">

            <ul class="on-right">
                <li>
                    <a href="{{url_for('account')}}">Home</a>
                </li>
                <li>
                    <a href="{{url_for('main')}}">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</header>
{%endblock navbar%} {% block main %}
<div class='bk'>
    <div class="wrapper">
        <form class="form-signin" action="{{ url_for('addrecipeitem') }}" method="post">
            {{ form.hidden_tag() }}
            <h2 class="form-signin-heading">Create Recipe Item</h2>
            {{ form.recipe(placeholder="Recipe Name", class="form-control") }} {{ form.description(placeholder="Description", class="form-control") }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}