{% extends 'base.html' %} {% block title %} Delete Category {% endblock %} {% block navbar %}
<header>
    <div class="container">
        <div class="topnav" id="myTopnav">

            <ul class="on-right">
                <li>
                    <a href="{{url_for('main')}}">Home</a>
                </li>
                <li>
                    <a href="{{url_for('main')}}">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</header>
{% endblock navbar %} {% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default main-content">
                <div class="panel-body">
                    <div class="panel-heading">Delete
                        <strong>{{ Category.name }}</strong> Category</div>

                    <!--Start of login form-->
                    <form action="{{ url_for("delete", bucket_id=bucket.id) }}" method="post">
                        <!--Start of submit button -->
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <input type="submit" value="Delete Category" class="btn btn-danger btn-lg">
                            </div>
                        </div>
                        <!--End of submit button-->

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock main %}