{%extends "base.html" %} {% block main %}

<body>
	<header>
		<div class="container">
			<div class="topnav" id="myTopnav">

				<ul class="on-right">
					<li class="active">
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="login.html">Login</a>
					</li>
					<li>
						<a href="signup.html">Sign Up</a>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<div id="main">
		<h1 class='name'>YUMMY RECIPES</h1>
		<h2>Home</h2>
		<p>
			Welcome to the yummy recipes site. Get ready to find out exciting ways to store your recipes.
		</p>
	</div>
	<footer>
		@yummyrecipes. Hope you enjoyed.
	</footer>
</body>
{% endblock %}