{%extends "base.html" %}{%block title%} Sign Up{%endblock title%} {%block navbar %}
<header>
	<div class="container">
		<div class="topnav" id="myTopnav">

			<ul class="on-right">
				<li>
					<a href="{{url_for('main')}}">Home</a>
				</li>
				<li>
					<a href="{{url_for('login')}}">Login</a>
				</li>
				<li class="active">
					<a href="{{url_for('signup')}}">Sign Up</a>
				</li>
			</ul>
		</div>
	</div>
</header>
{%endblock navbar%} {% block main %}

<center>
	<div class="wrapper">
		<form class="form-signin" action="{{ url_for('signup') }}" method="post">
			{{ form.hidden_tag() }}
			<h2 class="form-signin-heading">New user, Create an account</h2>
			{{ form.name(placeholder="Full Names", class="form-control") }} {{ form.email(placeholder="email e.g me@gmail.com", class="form-control") }}
			{{ form.password(placeholder="Password", class="form-control") }} {{ form.confirm(placeholder="Password", class="form-control") }}
			<!-- <input type="text" class="form-control" name="fullnames" placeholder="Full Names" required="" autofocus="" /> -->
			<!-- <input type="text" class="form-control" name="emailaddress" placeholder="Email Address" required="" autofocus="" />
			<input type="password" class="form-control" name="password" placeholder="Password" required="" />
			<input type="password" class="form-control" name="password" placeholder="Confirm Password" required="" /> -->
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
			<p class="text-center">Already have an account?
				<a href="{{ url_for("login") }}">Login</a>
		</form>
	</div>
	{% endblock %}